.Details .content {
    background-color: aqua;
    display: flex;
}
.Details .content .text ,
.Details .content .image {
    padding: 34px;
}

a:hover {
color: yellow;
}
@media only screen and (max-width: 600px) {
    .Details .content {
        flex-direction: column;
    }
}