
html {
  scroll-behavior: smooth;
}
.App {
  text-align: center;
  background-color: white;
}
.Row {
 
  display: grid;
  grid-template-columns:repeat(auto-fit,minmax(181px, 1fr));
}
.TvTile {
 
  position: relative;
  overflow: hidden;
}
img {
  width: 100%;
}
.TitleOverLay{
  transition: bottom cubic-bezier(0, 0, 0.57, 1.71) 1s;
  position: absolute;
  bottom: -200px;
  left: 0;
  width:100%;
  background-color: red;
  
  opacity: 0.8;
}
.TvTile:hover .TitleOverLay{
  opacity: .9;
  bottom: 0;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  position: absolute;
  left: 50%;
  top: 45%;
  left: 43%;
 
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}